{% extends "base.html" %}
{% load staticfiles %}

{% block page_scripts %}
    <script src="{% static 'games/js/base.js' %}"></script>
{% endblock page_scripts %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'games/css/base.css' %}">
{% endblock page_styles %}

{% block content %}

<div class="page-overview">
    <div class="page-overview-primary">
        <div class="page-overview-title">
            <h1> Games
                <small>Overview</small>
            </h1>
        </div>
    </div>
</div>

<section>
<article>
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Best bot</th>
                    <th>Bots total</th>
                    <th>Matches parsed</th>
                    <th>Game difficulty</th>
                </tr>
            </thead>
            <tbody>
            {% for game in game_list %}
                {% url 'games:game-overview' game.slug as game_url %}
                {% url 'games:player-overview' game.leader.name as leader_url %}

                <tr class="game-row">
                    <td>
                        <a href="{{ game_url }}"> {{ game.name }} </a>
                    </td>
                    <td>
                        <div class="avatar">
                            <a href="{{ leader_url }}">
                                <img src="{{ game.leader.avatar }}">
                            </a>
                        </div>
                        <a href="{{ leader_url }}"> {{ game.leader.name }} </a>
                        <div class="subtext">
                            {{ game.leader.country }}
                        </div>
                    </td>
                    <td>
                        {{ game.bot_set.count }}
                        <div class="color-bar">
                            <div class="bots" style="width: {{ game.bots_percent }}%"></div>
                        </div>
                    </td>
                    <td>
                        {{ game.match_set.count }}
                        <div class="color-bar">
                            <div class="matches" style="width: {{ game.matches_percent }}%"></div>
                        </div>
                    </td>
                    <td>
                        {{ game.difficulty_text}}
                        <div class="color-bar">
                            <div class="difficulty" style="width: {{ game.difficulty_percent }}%"></div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>
</section>
{% endblock %}
