{% extends "games/game_detail.html" %}

{% block game-page-title %}Bots{% endblock %}

{% block game-content %}
<section>
<header>Game bots
    <small>All</small>
</header>

<footer>
    <nav>
        {% with request.resolver_match.url_name as page %}
        <ul>
            <li class="{% if page == 'game-bots' %}active{% endif %}">
                {% url 'games:game-bots' game.slug as url %}
                <a href="{{ url }}">Most Successful</a></li>

            <li class="{% if page == 'game-bots-active' %}active{% endif %}">
                {% url 'games:game-bots-active' game.slug as url %}
                <a href="{{ url }}">Most Active</a></li>
        </ul>
        {% endwith %}
    </nav>
</footer>

<article>
    {% include 'pagination.html' with page_obj=pagination %}

    {% block game-bots-content %}
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th class="col-xs-1 cell-centered">Rank</th>
                    <th class="col-xs-3">Player</th>
                    <th class="col-xs-3">Score</th>
                    <th class="col-xs-2">Language</th>
                    <th class="col-xs-3">Winrate</th>
                </tr>
            </thead>
            <tbody>
            {% for bot in bot_list %}
                {% url 'games:player-overview' bot.player.name as player_url %}

                <tr class="bot-row" data-link="{{ player_url }}">
                    <td class="cell-centered">
                        {{ bot.rank }}
                    </td>
                    <td class="player">
                        <div class="avatar">
                            <a href="{{ player_url }}">
                                <img src="{{ bot.player.avatar }}">
                            </a>
                        </div>
                        <a href="{{ player_url }}"> {{ bot.player.name }} </a>
                        <div class="subtext">
                            {{ bot.player.country }}
                        </div>
                    </td>
                    <td>
                        {{ bot.score|floatformat:2 }}
                        <div class="color-bar">
                            <div class="player" style="width: {{ bot.score_percent }}%"></div>
                        </div>
                    </td>
                    <td>
                        {{ bot.language }}
                    </td>
                    <td>
                        {{ bot.win_percent|floatformat:2 }}%
                        <div class="color-bar">
                            <div class="win" style="width: {{ bot.win_percent }}%"></div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock game-bots-content %}

    {% include 'pagination.html' with page_obj=pagination %}
</article>
</section>
{% endblock game-content %}