{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h1> Games list</h1>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Difficulty</th>
                </tr>
            </thead>
            <tbody>
                {% include "games/games_table_body.html" %}
            </tbody>
        </table>
    </div>
{% endblock %}


