{% extends 'base.html' %}
{% load staticfiles %}

{% block page_scripts %}
    <script src="{% static 'games/js/base.js' %}"></script>
{% endblock page_scripts %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'games/css/base.css' %}">
{% endblock page_styles %}

{% block content %}
    {% url 'games:game-overview' game.slug as game_url %}

    <div class="page-overview">
        <div class="page-overview-primary">
            <div class="avatar">
                <a href="{{ game_url }}">
                </a>
            </div>
            <div class="page-overview-title">
                <h1>
                    <a href="{{ game_url }}">{{ game.name }}</a>
                    <small>{% block player-page-title %}Overview{% endblock %}</small>
                </h1>
            </div>
        </div>

        <div class="page-overview-secondary">
            <dl>
                <dd>{{ game.difficulty_text }}</dd>
                <dt>Difficulty</dt>
            </dl>
            <dl>
                <dd>
                    <time class="timeago"
                          datetime="{{ last_match.date|date:'c' }}"
                          title="{{last_match.date }}">
                        {{ last_match.date|date:'c'|default:'-' }}
                    </time>
                </dd>
                <dt>Last Match</dt>
            </dl>
            <dl>
                <dd>{{ bots_count }}</dd>
                <dt>Bots</dt>
            </dl>
            <dl>
                <dd>{{ game.match_set.count }}</dd>
                <dt>Matches</dt>
            </dl>
        </div>
    </div>

    <div class="page-menu">
        {% url 'games:game-bots' game.slug as game_bots_url %}
        {% url 'games:game-matches' game.slug as game_matches_url %}

        <nav class="menu-links">
            {% with request.resolver_match.url_name as page %}
            <ul>
                <li class="{% if page == 'game-overview' %}active{% endif %}">
                    <a href="{{ game_url }}">Overview</a></li>

                <li class="{% if 'game-bots' in page %}active{% endif %}">
                    <a href="{{ game_bots_url }}">Bots</a></li>

                <li class="{% if page == 'game-matches' %}active{% endif %}">
                    <a href="{{ game_matches_url }}">Matches</a></li>
            </ul>
            {% endwith %}
        </nav>
    </div>

    {% block game-content %}
        {% include "games/game_overview_bots.html" %}
        {% include "games/game_overview_matches.html" %}
    {% endblock game-content %}

{% endblock %} {# content #}