{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h1> Players: </h1>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
            {% for player in player_list %}
                <tr class="player_row">
                    <td> {{ player.name }} </td>
                    <td> {{ player.country}} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


