{% extends "games/player_detail.html" %}

{% block player-page-title %}Bots{% endblock %}

{% block player-content %}
<section>
<header>Player bots
    <small>All</small>
</header>

<footer>
    <nav>
        {% with request.resolver_match.url_name as page %}
        <ul>
            <li class="{% if page == 'player-bots' %}active{% endif %}">
                {% url 'games:player-bots' player as url %}
                <a href="{{ url }}">Most Successful</a></li>

            <li class="{% if page == 'player-bots-active' %}active{% endif %}">
                {% url 'games:player-bots-active' player as url %}
                <a href="{{ url }}">Most Active</a></li>

            <li class="{% if page == 'player-bots-challenging' %}active{% endif %}">
                {% url 'games:player-bots-challenging' player as url %}
                <a href="{{ url }}">Most Challenging</a></li>
        </ul>
        {% endwith %}
    </nav>
</footer>

<article>
    {% block player-bots-content %}
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th class="col-xs-3">Game</th>
                    <th class="col-xs-3">Rank</th>
                    <th class="col-xs-3">Score</th>
                    <th class="col-xs-3">Winrate</th>
                </tr>
            </thead>
            <tbody>
            {% for bot in bot_list %}
                {% url 'games:game-detail' bot.game.slug as game_url %}

                <tr class="bot-row" data-link="{{ game_url }}">
                    <td class="game">
                        <a href="{{ game_url }}"> {{ bot.game.name }} </a>
                        <div class="subtext">
                            Total bots: {{ bot.game.bot_set.count }}
                        </div>
                    </td>
                    <td>
                        {{ bot.rank }}
                        <div class="color-bar">
                            <div class="rank" style="width: {{ bot.rank_percent }}%"></div>
                        </div>
                    </td>
                    <td>
                        {{ bot.score|floatformat:2 }}
                        <div class="color-bar">
                            <div class="player" style="width: {{ bot.score_percent }}%"></div>
                        </div>
                    </td>
                    <td>
                        {{ bot.win_percent|floatformat:2 }}%
                        <div class="color-bar">
                            <div class="win" style="width: {{ bot.win_percent }}%"></div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock player-bots-content %}
</article>
</section>
{% endblock player-content %}