{% extends 'base.html' %}
{% load staticfiles %}

{% block page_scripts %}
    <script src="{% static 'games/js/base.js' %}"></script>
{% endblock page_scripts %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'games/css/base.css' %}">
{% endblock page_styles %}

{% block content %}
    {% url 'games:player-overview' player.name as player_url %}

    <div class="page-overview">
        <div class="page-overview-primary">
            <div class="avatar">
                <a href="{{ player_url }}">
                    <img src="{{ player.avatar }}" alt="{{ player.name }}">
                </a>
            </div>
            <div class="page-overview-title">
                <h1> {{ player.name }}
                    <small class="country">({{ player.country }})</small>
                    <small>{% block player-page-title %}Overview{% endblock %}</small>
                </h1>
            </div>
        </div>

        <div class="page-overview-secondary">
            <dl>
                <dd>
                    <time class="timeago"
                          datetime="{{ match_list.first.date|date:'c' }}"
                          title="{{ match_list.first.date }}">
                    </time>
                </dd>
                <dt>Last Match</dt>
            </dl>
            <dl>
                <dd>
                    <span class="match-record">
                        <span class="wins">{{ wins }}</span>
                        <span class="sep">-</span>
                        <span class="draws">{{ draws }}</span>
                        <span class="sep">-</span>
                        <span class="losses">{{ losses }}</span>
                    </span>
                </dd>
                <dt>Record</dt>
            </dl>
            <dl>
                <dd>{{ winrate|floatformat:2 }}%</dd>
                <dt>Win Rate</dt>
            </dl>
        </div>
    </div>
    <div class="page-menu">
        {% url 'games:player-bots' player.name as player_bots_url %}
        {% url 'games:player-matches' player.name as player_matches_url %}

        <nav class="menu-links">
            {% with request.resolver_match.url_name as page %}
            <ul>
                <li class="{% if page == 'player-overview' %}active{% endif %}">
                    <a href="{{ player_url }}">Overview</a></li>

                <li class="{% if 'player-bots' in page %}active{% endif %}">
                    <a href="{{ player_bots_url }}">Bots</a></li>

                <li class="{% if page == 'player-matches' %}active{% endif %}">
                    <a href="{{ player_matches_url }}">Matches</a></li>
            </ul>
            {% endwith %}
        </nav>
    </div>

    {% block player-content %}
        {% include 'games/player_overview_bots.html' %}
        {% include 'games/player_overview_matches.html' %}
    {% endblock player-content %}
{% endblock content %}