{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h1> Players: </h1>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Player</th>
                    <th>Bots</th>
                    <th>1st place </th>
                    <th>Top 10%</th>
                    <th>Score</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
            {% for player in player_list %}
                {% url 'games:player-overview' player.name as player_url %}

                <tr class="player_row">
                    <td> {{ forloop.counter }} </td>
                    <td>
                        <a href="{{ player_url }}"> {{ player.name }} </a>
                    </td>
                    <td> {{ player.bot_count }} </td>
                    <td> {{ player.top1 }} </td>
                    <td> {{ player.top10 }} </td>
                    <td> {{ player.score|floatformat:2 }} </td>
                    <td> {{ player.country}} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


