{% extends "games/player_bots.html" %}

{% block player-bots-content %}
<div class="table-responsive table-borderless">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th class="col-xs-3">Game</th>
                <th class="col-xs-3">Matches Played</th>
                <th class="col-xs-2">Wins</th>
                <th class="col-xs-2">Draws</th>
                <th class="col-xs-2">Losses</th>
            </tr>
        </thead>
        <tbody>
        {% for bot in bot_list %}
            {% url 'games:game-overview' bot.game.slug as game_url %}

            <tr class="bot-row" data-link="{{ game_url }}">
                <td class="game">
                    <a href="{{ game_url }}"> {{ bot.game.name }} </a>
                    <div class="subtext">
                        Total bots: {{ bot.game.bot_set.count }}
                    </div>
                </td>
                <td>
                    {{ bot.match_set.count }}
                    <div class="color-bar">
                        <div class="matches" style="width: {{ bot.matches_percent }}%"></div>
                    </div>
                </td>
                <td>
                    {{ bot.wins }}
                    <div class="color-bar">
                        <div class="win" style="width: {{ bot.win_percent }}%"></div>
                    </div>
                </td>
                <td>
                    {{ bot.draws }}
                    <div class="color-bar">
                        <div class="draw" style="width: {{ bot.draw_percent }}%"></div>
                    </div>
                </td>
                <td>
                    {{ bot.losses }}
                    <div class="color-bar">
                        <div class="loss" style="width: {{ bot.loss_percent }}%"></div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock player-bots-content %}