dj-database-url==0.3.0
Django==1.9
django-postgrespool==0.3.0
psycopg2==2.6
SQLAlchemy==1.0.4
# TODO: update whitenoise, it is version 3+ now
whitenoise==1.0.6
requests==2.5.3
django-solo==1.1.2
django-jsonify==0.3.0
django-debug-toolbar==1.6

git+git://github.com/unclevasya/django-pure-pagination.git@disablable_margins

# this is used only when working with Heroku
gunicorn==19.3.0
globster==0.1.0
